<apex:page controller="ContactWrapperExt" tabStyle="Contact" sidebar="false" showHeader="false">

    <style>
         .custPopup{ 
        background-color: white; 
        border-width: 0px; 
        border-radius:10px; 
        z-index: 9999; 
        left: 50%; 
        padding:20px; 
        position: absolute; 
        margin-left: -100px; 
        top:30%; 
    }
    .popupBackground{
         background-color:#a6a6a6;
         opacity: 0.30;
         filter: alpha(opacity = 30);
         position: absolute;
         width: 100%; 
         height: 500%; 
         top: 0; 
         left: 0; 
         z-index: 9998;
     }
    </style>


    <apex:sectionHeader title="Contact(s) Edit" subtitle="All Contacts"/>
    <apex:form id="frm">
        <apex:outputPanel id="op">
            <script>
                function fetch(){
                    var b = [];
                    b='{!selectedIds}'  ;
                    alert(b); 
                    
                }
            </script>
        </apex:outputPanel>>
        <apex:actionFunction name="saveCons" action="{!saveCons}" status="status" />
        <apex:actionFunction name="captureValue" action="{!captureValue}" reRender="none">
            <apex:param name="arg1" assignTo="{!selected}" value=""/>
        </apex:actionFunction>
        <apex:actionFunction name="goInside" action="{!fetchValues}" reRender="frm" oncomplete="popUpWindow('{!selectedIds}'); return false;"/>  
         <apex:actionStatus id="status">
            <apex:facet name="start"> 
                <apex:outputPanel id="tstpopup"> 
                    <apex:outputPanel styleClass="popupBackground" layout="block"/> 
                    <apex:outputPanel styleClass="custPopup" layout="block"> 
                        <img src="/img/loading24.gif" style="vertical-align:middle; horizontal-align:middle"/> 
                        <span>Please wait...</span> 
                    </apex:outputPanel> 
                </apex:outputPanel> 
            </apex:facet> 
        </apex:actionStatus>
        <apex:pageBlock id="PB">
            <apex:pageMessages ></apex:pageMessages>
            <apex:pageBlockButtons >
                <apex:commandButton value="Save" onclick="saveCons(); this.disabled='true'; this.value='Saving...';" style="width:60px;" rendered="{!counter!=0}"/>
                <apex:commandButton value="Cancel" onclick="top.parent.window.close();" style="width:60px;"/>
                <apex:commandButton value="Pop-Up" onclick="goInside(); return false;" />
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Select Contact(s) to Edit" collapsible="false" >
                <apex:pageBlockTable value="{!cwList}" var="cwrap" style="width:107%;">
                    <apex:column headerValue="Select">
                        <apex:inputCheckbox value="{!cwrap.check}" onchange="captureValue('{!cwrap.con.Id}'); return false;"/>
                    </apex:column>
                  <!--  <apex:column headerValue="Params" style="width:15%;">
                      <!--  <apex:inputField value="{!cwrap.con.Account__c}">
                            <apex:actionSupport event="onchange" action="{!populateDetail}" reRender="PB" status="status"/>
                        </apex:inputField> 
                        {!cwrap.paramLabel}-<apex:outputText value="Yes" />
                    </apex:column> -->
                    <apex:column headerValue="Lead Source">
                        <apex:inputField value="{!cwrap.con.LeadSource}"/>
                    </apex:column>
                    <apex:column headerValue="Phone">
                        <apex:inputField value="{!cwrap.con.Phone}"/>
                    </apex:column>
                    <apex:column headerValue="Start Date">
                        <apex:inputField value="{!cwrap.con.Start_Date__c}"/>
                    </apex:column>
                   <!-- <apex:column headerValue="End Date">
                        <apex:inputField value="{!cwrap.con.End_Date__c}"/>
                    </apex:column>  -->
                </apex:pageBlockTable>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
    
    <script>
        function openLink(id){
            var url = '/'+id;
            window.opener.location.href = url;
        }
        
        if({!closewindow}){
            var url = '{!retURL}';
            window.opener.location.href = '/'+url;
            top.parent.window.close();
        }
        
        
        function popUpWindow(id){
            var txt = new Array();
            txt=id.replace(/ /g,'');
            var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left; 
            var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top; 
            width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width; 
            height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height; 
            var left = ((width / 2) - (700 / 2)) + dualScreenLeft; 
            var top = ((height / 2) - (500 / 2)) + dualScreenTop; 
            var url= '/apex/TestPopUp?type=risk&acid='+txt; 
            var win=window.open(url, '_blank', 'scrollbars=yes,width=750,height=400, top=' + top + ', left=' + left); 
        }
    </script>
    
    
</apex:page>